<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://gestao.co9stku23fli.us-west-2.rds.amazonaws.com:5432/gdoctor</property>
        <property name="connection.username">alan</property>
        <property name="connection.password">gestaohospitalar</property>
		<!--  <property name="connection.password">488156</property> -->

 		<!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        	
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
		
		<mapping class="br.com.gsv.domain.sub.Grupo"/>
		<mapping class="br.com.gsv.domain.Paciente"/>
      	<mapping class="br.com.gsv.domain.Funcionario"/>
      	<mapping class="br.com.gsv.domain.sub.Contato_cli"/>
      	<mapping class="br.com.gsv.domain.sub.Endereco_cli"/>
      	<mapping class="br.com.gsv.domain.sub.Contato_fun"/>
      	<mapping class="br.com.gsv.domain.sub.Endereco_fun"/>
      	<mapping class="br.com.gsv.domain.Produto"/>
      	<mapping class="br.com.gsv.domain.Fabricante"/>
      	<mapping class="br.com.gsv.domain.Convenio"/>
      	<mapping class="br.com.gsv.domain.Agenda"/>
      	<mapping class="br.com.gsv.domain.Prontuario"/>
      	<mapping class="br.com.gsv.domain.sub.EquipamentoCheckBox"/>
      	<mapping class="br.com.gsv.domain.sub.IntegridadeHemorragia"/>
      	<mapping class="br.com.gsv.domain.sub.DiagnosticoBaseCheckbox"/>
      	<mapping class="br.com.gsv.domain.sub.SintomasCheckbox"/>
      	<mapping class="br.com.gsv.domain.sub.SintomasMembrosCheckbox"/>
      	<mapping class="br.com.gsv.domain.Usuario"/>
      	<mapping class="br.com.gsv.domain.sub.RegistroCoren"/>
      	<mapping class="br.com.gsv.domain.Evolucao"/>
      	<mapping class="br.com.gsv.domain.Conjugue"/>
      	
    </session-factory>

</hibernate-configuration>